/* @font-face {
    font-family: 'Raleway';
    src: url("./fonts/Raleway-Regular.ttf");
    src: url("./fonts/Raleway-Bold.ttf");
    src: url("./fonts/Raleway-VariableFont_wght.ttf");
} */

@font-face {
    font-family: 'Raleway400';
    src: url("./fonts/Raleway400/Raleway-Regular.woff2") format("woff2"),
    url("./fonts/Raleway400/Raleway-Regular.woff") format("woff"),
    url("./fonts/Raleway400/Raleway-Regular.ttf") format("truetype"),
    url("./fonts/Raleway400/Raleway-Regular.eot") format("eot");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway700';
    src: url("./fonts/Raleway700/Raleway-Bold.woff2") format("woff2"),
    url("./fonts/Raleway700/Raleway-Bold.woff") format("woff"),
    url("./fonts/Raleway700/Raleway-Bold.ttf") format("truetype"),
    url("./fonts/Raleway700/Raleway-Bold.eot") format("eot");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans700';
    src: url("./fonts/OpenSans700/OpenSans-Bold.woff2") format("woff2"),
    url("./fonts/OpenSans700/OpenSans-Bold.woff") format("woff"),
    url("./fonts/OpenSans700/OpenSans-Bold.ttf") format("truetype"),
    url("./fonts/OpenSans700/OpenSans-Bold.eot") format("eot");
    font-weight: 700;
    font-style: normal;
}

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    /* font-family: 'Raleway'; */
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}


.container {
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}

.section {
    padding: 50px 0;
}

.section--gray {
    background: #F5F5F5;
}

.section--bottom-margin-big {
  padding-bottom: 64px;
}

.text-center {
    text-align: center;
}

/* Pricing */

.title {
    text-transform: uppercase;
    color: #000000;
    font-weight: 400;
    font-style: normal;
}

.title--h2 {
    position: relative;
    font-size: 36px;
    line-height: 150px;
    margin-bottom: 40px;
    text-align: center;
}

.title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    width: 143px;
    height: 1px;
    background: #EC7979;
    display: block;
    margin: 0 auto;
}

.description {
    color: #86878B;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}



/* Price Rate */
.pricing-columns {
    margin-top: 79px;
}

.price {
    width: 100%;
    max-width: 370px;
    transition: .3s;
    border: 2px solid #F5F5F5;
}

.price:hover {
    transform: translateY(-20px);
    /* margin-top: -20px; */
    box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.18);
}

.price__head {
    text-align: center;
    background: #333333;
    color: #FFFFFF;
}

.price__title {
    color: #FFFFFF;
    font-size: 24px;
    height: 60px;
    line-height: 60px;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'OpenSans700';
    font-weight: bold;
}



.price__count p {
    font-size: 35px;
    font-weight: 700;
    height: 100px;
    line-height: 100px;
}

.free {
    color: #86878B;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    height: 50px;
    line-height: 50px;
}

.price__list li {
    padding-top: 15px;
    padding-bottom: 14px;

    text-align: center;
    color: #86878B;
    font-size: 18px;
    font-weight: 400;
    background: #FFFFFF;
    /* border-bottom: 2px solid #F5F5F5; */
    text-transform: capitalize;
}

.price__list li, .free, .price p, .price__title {
    border-bottom: 2px solid #F5F5F5;
}

.price__list li:last-child {
    border-bottom: 0;
    padding-top: 15px;
    padding-bottom: 14px;
}



/*Awesome */
.awesome_head {
    text-align: center;
}

.awesome_title {
    font-size: 36px;
    font-weight: 400;
}

.awesome_name {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.awesome_desc {
    font-weight: 400;
    font-size: 18px;

}

.awesome_text {
    font-size: 18px;
    font-weight: 400;
    color: #86878B;
}

.awesome_holder {
    display: flex;
    justify-content: center;
    align-items: center;

}

.awesome_card {
    width: 33, 3%;
    text-align: center;
    margin-right: 30px;
    padding-bottom: 100px;

}

.awesome_text {
    margin-bottom: 100px;
}

.awesome_title::after {
    content: "";
    width: 143px;
    display: block;
    border: 1px solid #EC7979;
    margin: 30px auto;

}